.ant-modal.workbench-season-target {
  .form-title {
    padding-left: 104px;
    .line {
      display: inline-block;
      width: 8px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
      background-color: blue;
    }
  }

  .form-wrapper {
    .form-row {
      margin-top: 36px;
    }
    .form-col-left {
      font-size: 16px;
      text-align: center;
    }
  }
}
